processdemo-accounts-portal-exp-api/src/main/mule/processdemo-accounts-portal-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:order-manager-prcapi="http://www.mulesoft.org/schema/mule/order-manager-prcapi" xmlns:orders-system-api="http://www.mulesoft.org/schema/mule/orders-system-api" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/orders-system-api http://www.mulesoft.org/schema/mule/orders-system-api/current/mule-orders-system-api.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/order-manager-prcapi http://www.mulesoft.org/schema/mule/order-manager-prcapi/current/mule-order-manager-prcapi.xsd">
    <http:listener-config name="processdemo-accounts-portal-exp-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="processdemo-accounts-portal-exp-api-config" raml="processdemo-accounts-portal-exp-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <orders-system-api:config name="Orders_System_API_Config" doc:name="Orders System API Config" doc:id="59cc436b-be02-4104-b647-607a190a5245" />
    <order-manager-prcapi:config name="Order_Manager_PRC_API_Config" doc:name="Order Manager PRC API Config" doc:id="c8a3a87d-b8f5-47d9-a7c5-4a4c0c9ac61f" />
    <flow name="processdemo-accounts-portal-exp-api-main">
        <http:listener config-ref="processdemo-accounts-portal-exp-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="processdemo-accounts-portal-exp-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="processdemo-accounts-portal-exp-api-console">
        <http:listener config-ref="processdemo-accounts-portal-exp-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="processdemo-accounts-portal-exp-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\orders:processdemo-accounts-portal-exp-api-config">
        <orders-system-api:get-orders doc:name="Get orders" doc:id="1fe25dc9-e819-441b-9250-d767412fd078" config-ref="Orders_System_API_Config" status="#[attributes.queryParams.status]" />
        <ee:transform doc:name="Transform Message" doc:id="bf8e86d3-764d-4818-a99d-21121aa342fe">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	resultCount: payload.resultCount,
	orders: payload.orders map ( order , indexOfOrder ) -> {
		orderAcceptedDateTime: order.orderAcceptedDateTime default "",
		orderRef: order.orderRef,
		orderId: order.orderId default "",
		customerId: order.customerId,
		orderTotalValue: order.orderTotalValue,
		orderDescription: order.orderDescription default ""
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="get:\orders:processdemo-accounts-portal-exp-api-config" />
    </flow>
    <flow name="post:\orders\(orderId)\invoices:application\json:processdemo-accounts-portal-exp-api-config">
        <ee:transform doc:id="976f8f8f-8069-43d6-a651-81c8671f2374">
            <ee:variables>
                <ee:set-variable variableName="orderId"><![CDATA[attributes.uriParams.orderId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <order-manager-prcapi:create-invoice-by-order-id doc:name="Create invoice by order id" doc:id="fe85293c-d4d8-44a6-8958-0070011dd89b" config-ref="Order_Manager_PRC_API_Config" order-id="#[attributes.uriParams.orderId]" />
        <ee:transform doc:name="Transform Message" doc:id="212b9a0d-4fec-46c9-97ed-6c83e36dc546">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: "success."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="post:\orders\(orderId)\invoices:application\json:processdemo-accounts-portal-exp-api-config" />
    </flow>
    <flow name="post:\orders\(orderId)\payments:application\json:processdemo-accounts-portal-exp-api-config">
        <ee:transform doc:id="0e38a817-4ffc-4b22-98fa-df7ba1190c80">
            <ee:variables>
                <ee:set-variable variableName="orderId"><![CDATA[attributes.uriParams.orderId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <order-manager-prcapi:create-payment-by-order-id doc:name="Create payment by order id" doc:id="35422338-6f8e-4e05-b63e-b1da590e6265" config-ref="Order_Manager_PRC_API_Config" order-id="#[vars.orderId]"/>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="578ae708-3c60-4c08-9b85-5e163d16eecf">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "success."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
